<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script
            src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
        />
        <style>
            details fieldset {
                max-height: 25vh;
                overflow: auto;
            }
        </style>
    </head>
    <body>
        <main class="container">
            <h1>What To Watch</h1>
            <form hx-post="/api/movies" hx-target="#movies" hx-swap="outerHTML">
                <details>
                    <summary>Service</summary>
                    <fieldset>
                        <label>
                            <input
                                type="checkbox"
                                name="service"
                                value="Netflix"
                            />
                            Netflix
                        </label>
                        <label>
                            <input
                                type="checkbox"
                                name="service"
                                value="Prime Video"
                            />
                            Prime Video
                        </label>
                        <label>
                            <input
                                type="checkbox"
                                name="service"
                                value="HBO Max"
                            />
                            HBO Max
                        </label>
                        <label>
                            <input
                                type="checkbox"
                                name="service"
                                value="Hulu"
                            />
                            Hulu
                        </label>
                    </fieldset>
                </details>
                <details
                    hx-get="/api/genres"
                    hx-target="#genreOptions"
                    hx-swap="innerHTML"
                    hx-trigger="load"
                >
                    <summary>Genre</summary>
                    <fieldset id="genreOptions"></fieldset>
                </details>
                <input type="text" name="keyword" placeholder="Title" />
            </form>
        </main>
    </body>
</html>
